<div id="<%= dom_id publication %>">
  <p>
    <strong>Image:</strong>
    <%= image_tag publication.image %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= publication.title %>
  </p>

  <p>
    <strong>Legend:</strong>
    <%= publication.legend %>
  </p>

  <p>
    <strong>User:</strong>
    <%= publication.user_id %>
  </p>

</div>
